# MQTT broker location
MQTT_HOST=127.0.0.1
MQTT_PORT=1883

# Default sections to pre-fill in forms (comma-separated)
DEFAULT_SECTIONS=1

# Preview + "ALL" expansion uses this list:
ALL_SECTIONS=1,2,3,4,5,6,7,8,9,10

# Web server host/port
FLASK_HOST=127.0.0.1
FLASK_PORT=5000

AUDIO_TARGET_IP=172.20.10.2
AUDIO_TARGET_PORT=5004

AUDIO_OPUS_BITRATE=128k

AUDIO_INPUT_BACKEND=avfoundation
AUDIO_INPUT_DEVICE=0
